@{
	ViewData["Title"] = "Начало";
	var attentionCard = new AttentionCardModel
			{
				Title = "Добре дошли в панела за треньори.",
				CardText = "От тук можете да управлявате своя треньорски акаунт."
			};

	var mySportsCard = new AreaManagementCardModel
			{
				ButtonValue = "Моите спортове",
				CardImage = "https://img.freepik.com/free-vector/soccer-volleyball-baseball-rugby-equipment_1441-4026.jpg",
				CardText = "От тук може да прегледате спортовете по които преподавате.",
				FormArea = "Trainer",
				FormController = "Trainings",
				FormAction = "MyTrainings"
			};
	var addSportsCard = new AreaManagementCardModel
			{
				ButtonValue = "Добави спортове",
				CardImage = "https://media.istockphoto.com/id/949190736/photo/various-sport-equipments-on-grass.jpg?s=170667a&w=0&k=20&c=PmMHq7YpMyfFl_SNausKaU_2O4avUYcv-Ez4EC_6tC0=",
				CardText = "От тук можете да добавите спортовете по които преподавате.",
				FormArea = "Trainer",
				FormController = "Trainings",
				FormAction = "Add"
			};
}

<div class="container text-center">
	<partial name="_AttentionOrangeCardPartial"
			 model="attentionCard" />
	<div class="text-start">
		<h1>Готови сте с управлението?</h1>
		<form asp-area="" asp-controller="Home" asp-action="Index" method="get">
			<input type="submit" class="btn btn-lg btn-warning m-1 text-white" value="Върнете се към сайта :)" />
		</form>
	</div>
	<section>
		<div class="album mt-5 push">
			<div class="container">
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4">
					<div class="col">
						<partial name="_AreaManagementCardPartial"
								 model="mySportsCard" />
					</div>
					<div class="col">
						<partial name="_AreaManagementCardPartial"
								 model="addSportsCard" />
					</div>
				</div>
			</div>
		</div>
	</section>

</div>