@using LessonsBg.Core.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<a class="nav-link btn bg-black text-light m-1"  asp-controller="Account" asp-action="Manage" title="Настройки">Моят профил</a>
		</li>

		<li class="nav-item">
			<form class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button type="submit" class="nav-link btn bg-black m-1 text-light">Изход</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-light m-1 btn btn-dark" asp-controller="Account" asp-action="Register">Регистрирай се</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light m-1 btn btn-dark" asp-controller="Account" asp-action="Login">Вход</a>
		</li>
	}
</ul>
