@model List<AllLessonsModel>

@{
	ViewData["Title"] = "Всички предмети";
	var attentionCard = new AttentionCardModel
	{
		Title = "Липсват учебни предмети?",
		CardText = "Ако имате интерес към учебен предмет, а него го няма, моля пишете ни на \"support@uroci-bg.bg\"."
	};
}

<div class="container push">
	<div class="mt-3 mb-1 text-center">
		<partial name="_AttentionOrangeCardPartial"
				 model="attentionCard" />
	</div>
	@foreach (var item in Model)
	{
		<h1>@item.SubjectTypeName</h1>
		<form method="post">
			@foreach (var subjectName in item.SubjectsOfSubjectTypeName)
			{
				<input type="submit" value="@subjectName" class="btn btn-success" asp-area="" asp-controller="Lessons" asp-action="LessonsFor" asp-route-subjectName="@subjectName" />
			}
		</form>
	}
</div>