@model ChangeTeachingLocationModel

<div class="container text-center">
	<form method="get">
		<input type="submit" class="btn btn-lg btn-warning m-1 text-white" value="Обратно към панела за треньори." asp-area="Trainer" asp-controller="Home" asp-action="Index" />
	</form>
</div>

<div class="container text-center mt-5 push">
	<form method="post">
		<div class="form-group">
			<div class="form-group">
				<p class="fw-bold">Място на преподаване</p>
				<select asp-for="@Model.TeachingLocation" class="form-control-sm">
					@foreach (var location in Model.Locations)
					{
						<option value="@location.Name">@location.Name</option>
					}
				</select>

			</div>
			<div class="mt-3">
				<button class="btn btn-warning text-white" type="submit">Потвърди!</button>
			</div>
		</div>


	</form>
</div>