@model IEnumerable<TrainingModel>

@{
    ViewData["Title"] = "Моите спортове";
}

<div class="container text-center">
    <form method="get">
        <input type="submit" class="btn btn-lg btn-warning m-1 text-white" value="Обратно към панела за треньори." asp-area="Trainer" asp-controller="Home" asp-action="Index" />
    </form>
</div>

<div class="text-center container  push">
    <h1 class="display-3">Моите спортове</h1>
    @foreach (var training in Model)
    {
        <div class="card text-center bg-info mt-2">
            <div class="card-body">
                <h5 class="card-title mt-1">@training.Name</h5>
            </div>

            <form class="input-group-sm" asp-route-trainingId="@training.Id" asp-area="Trainer" asp-controller="Trainings" asp-action="Remove" method="post">
                <input class="fs-6 btn btn-success mb-3 p-2" type="submit" value="Премахни" />
            </form>
        </div>
    }
</div>


