@{
    ViewData["Title"] = "За сайта";
    var contactsCard = new AttentionCardModel
            {
                Title = "Контакти",
                CardText = "Ако имате проблеми, отзиви или въпроси моля свържете се с нас на имейл: support@uroci-bg.bg"
            };
}
<div class="container push">
    <div class="mt-5">
        <partial name="_AttentionOrangeCardPartial"
                 model="contactsCard" />
    </div>
    <div class="mt-3">
        <h1 class="fw-bold">За сайта</h1>
        <p>УРОЦИ БГ е сайт, който Ви дава възможност бързо и лесно да откриете учител, курс или треньор.</p>
    </div>
    <div class="mt-3">
        <h1 class="fw-bold">Регистрация</h1>
        <p>В УРОЦИ БГ може лесно да се регистрирате като учител, треньор или академия.</p>
    </div>
    <div class="mt-3">
        <h1 class="fw-bold">Вашата информация</h1>
        <p>При регистрация в сайта, Вие трябва да предоставите имейл адрес и телефонен номер, моля обърнете внимание, че тези данни ще се използват за връзка с Вас. </p>
    </div>
    <div class="mt-3">
        <h1 class="fw-bold">Моят профил</h1>
        <p>Според вида на регистрацията Ви, в менюто "Моят профил" ще откриете настройки за допълване и управление на Вашият профил в УРОЦИ БГ.</p>
    </div>
    <div class="mt-3">
        <h1 class="fw-bold">Панел за учители</h1>
        <p>Ако се регистрирате като учител ще имате допълнителени учителски настройки в менюто "Моят профил".</p>
    </div>
    <div class="mt-3">
        <h1 class="fw-bold">Панел за треньори</h1>
        <p>Ако се регистрирате като треньор ще имате допълнителени треньорски настройки в менюто "Моят профил".</p>
    </div>
    <div class="mt-3">
        <h1 class="fw-bold">Панел за академии</h1>
        <p>Ако се регистрирате като академия ще имате допълнителени настройки за управление на академията в менюто "Моят профил".</p>
    </div>
    <div class="mt-3">
        <h1 class="fw-bold">Меню - Уроци</h1>
        <p>В навигацията на сайта, чрез бутона "Уроци" можете да достъпите страницата която ще ви даде възможност да потърсите уроци според желанията Ви.</p>
    </div>
    <div class="mt-3">
        <h1 class="fw-bold">Меню - Тренировки</h1>
        <p>В навигацията на сайта, чрез бутона "Тренировки" можете да достъпите страницата която ще ви даде възможност да потърсите треньори за спорт според желанията Ви.</p>
    </div>
    <div class="mt-3">
        <h1 class="fw-bold">Меню - Уроци</h1>
        <p>В навигацията на сайта, чрез бутона "Курсове" можете да достъпите страницата която ще ви даде възможност да потърсите курсове според желанията Ви.</p>
    </div>
</div>