@using LessonsBg.Core.Data;
@{
	ViewData["Title"] = "Настройки";
}

<h1 class="text-center mt-5">Общи настройки</h1>

<div class="row push">
	<div class="col-md-4 offset-md-4">
		<hr />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="text-center mb-3">
			<a class="btn btn-success" asp-controller="Account" asp-action="ChangeEmail">Промяна на е-майл.</a>
		</div>
		<div class="text-center mb-3">
			<a class="btn btn-success" asp-controller="Account" asp-action="ChangePassword">Промяна на парола.</a>
		</div>
		<div class="text-center mb-3">
			<a class="btn btn-success" asp-controller="Account" asp-action="ChangePhoneNumber">Промяна на телефонен номер.</a>
		</div>
		<div class="text-center mb-3">
			<a class="btn btn-success" asp-controller="Account" asp-action="ChangeAccountProfileImage">Промяна на профилна снимка.</a>
		</div>

		@if (User.IsInRole(RoleConstants.Teacher))
		{
			<h1 class="text-center">За учители:</h1>
			<hr />
			<div class="text-center mb-3">
				<p>От тук можете да управлявате учителският си акаунт.</p>
				<a class="btn btn-success" asp-area="Teacher" asp-controller="Home" asp-action="Index">Управление на учителски акаунт.</a>
			</div>
		}
		@if (User.IsInRole(RoleConstants.Trainer))
		{
			<h1 class="text-center">За учители:</h1>
			<hr />
			<div class="text-center mb-3">
				<p>От тук можете да управлявате треньорският си акаунт.</p>
				<a class="btn btn-success" asp-area="Trainer" asp-controller="Home" asp-action="Index">Управление на треньорски акаунт.</a>
			</div>
		}
		@if (User.IsInRole(RoleConstants.Academy))
		{
			<h1 class="text-center">За академии:</h1>
			<hr />
			<div class="text-center mb-3">
				<p>От тук можете да управлявате своята академия.</p>
				<a class="btn btn-success" asp-area="Academy" asp-controller="Home" asp-action="Index">Управление на академия.</a>
			</div>

		}

	</div>
</div>

